/* start global */
:root {
  --main-color: rgb(18,151,72);
  --alt-color: rgb(13,114,65);
  --title-color: rgb(69,75,84);
  --text-color: rgb(149 149 149);
  --hr-color: #207bff;
  --main-background-color: #f9f9f9;
  --main-transition: all .50s;
  --alt-transition: all .30s
}
body {
  font-family: 'Cairo', sans-serif !important;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}
ul {
  list-style: none;
  padding: 0 !important;
}
a {
  text-decoration: none !important;
}
.main-title {
  font-weight: bold;
  color: var(--title-color);
  font-size: 3rem;
  margin-bottom: 15px;
  position: relative;
}
.main-title::before {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  left: 23%;
  width: 30px;
  height: 3px;
  background: #454b54;
}
.main-title::after {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  right: 23%;
  width: 30px;
  height: 3px;
  background: #454b54;
}
.row {
  width: 100%
}
.loader,
.loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}
.loader {
    margin: 18% auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgb(69 75 84 / 15%);
    border-right: 1.1em solid rgb(69 75 84 / 15%);
    border-bottom: 1.1em solid rgb(69 75 84 / 15%);
    border-left: 1.1em solid var(--title-color);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
#loadingDiv {
    position:absolute;;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: white;
    z-index: 1
}
@media (max-width: 991.98px) {
  .row {
    margin: 0!important;
  }
  .container {
    width: auto !important;
  }
  .main-title {
    font-size: 2rem;
    width: fit-content !important;
    margin: 0 auto 30px;
  }
  .main-title::before {
    left: -30px !important;
    width: 20px;
  }
  .main-title::after {
    right: -30px !important;
    width: 20px;
  }
  .loader {
    margin-top: 50%;
  }
}
/* end global */
/* start header */
/* start navbar */
.header {
 height: 100vh;
 position: relative;
 overflow: hidden;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url(../imgs/overlay.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.overlay::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 70%)
}
.hr-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("../imgs/depositphotos_71167559-stock-photo-human-resources-concept.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.hr-overlay::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 70%)
}
.header .navbar {
  padding: 0;
  z-index: 1;
}
.header .navbar .navbar-brand {
  margin: 0
}
.header .navbar .navbar-brand img {
  width: 100px;
}
.header .navbar .navbar-nav {
  margin-left: auto;
}
.header .navbar .navbar-nav .nav-item {
  padding: 0px 10px;
  transition: var(--main-transition);
  border-radius: 10px;
  margin-left: 5px;
}
.header .navbar .navbar-nav .nav-item:hover {
  background: rgb(18 151 72);
}
.header.hr .navbar .navbar-nav .nav-item:hover {
  background: var(--hr-color);
}
.navbar-light .navbar-toggler {
  color: var(--main-color) !important;
  border-color: rgb(21 138 70 / 20%) !important;
}
.header.hr .navbar-light .navbar-toggler {
  color: var(--hr-color) !important;
  border-color: rgb(32 123 255 / 20%) !important;
}
.navbar-light .navbar-toggler-icon {
  background: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-color);
}
.navbar-light .navbar-toggler-icon.hr {
  color: var(--hr-color);
}
.header .navbar .navbar-nav .nav-item .nav-link {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: normal;
}
.header .navbar .navbar-nav .nav-item .nav-link i {
  margin-left: 10px;
  font-size: 20px;
  top: -4px;
  position: relative;
}
/* mega menu */
.navbar .navbar-nav .mega:hover .mega-menu {
  opacity: 1;
  z-index: 1;
  top: 60px;
  right: 0;
}
.mega-menu {
  position: absolute;
  right: -50%;
  top: 150px;
  width: 50%;
  background: rgb(255 255 255);
  border-top: 5px solid var(--main-color);
  padding: 25px;
  opacity: 0;
  z-index: -1;
  transition: top .30s, z-index 0s, opacity .30s;
  align-items: center;
}
.mega-menu.hr{
  border-top: 5px solid var(--hr-color);
}
.mega-menu-img img {
  width: 100%
}
.mega-menu .mega-links .links li {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border-bottom: 1px solid rgb(233 233 233);
}
.mega-menu .mega-links .links li::before {
  content: "";
  position: absolute;
  width: 100%;
  left: -100%;
  top: 0;
  height: 100%;
  background: rgb(18 151 72 / 15%);
  transition: all .30s linear;
}
.mega-menu .mega-links .links li:hover::before {
  left: 0;
}
.mega-menu .mega-links .links li:hover a {
  color: var(--main-color)
}
.mega-menu .mega-links .links a {
  color: var(--text-color);
  padding: 10px 15px;
  display: block;
  transition: all .30s linear;
  position: relative;
}
@media (max-width: 991.98px) {
  .header {
    overflow: hidden;
  }
  .overlay {
    background-attachment: unset;
  }
  .hr-overlay {
    background-position: top;
    background-attachment: local;
  }
  .header .navbar .navbar-nav {
    height: auto;
  }

  .navbar .navbar-nav .mega:hover .mega-menu {
    width: 100%;
    top: 85px;
    right: 0;
  }
}
/* end navbar */
/* start header content */
.header-content {
  position: relative;
  margin-top: 30px;
}
.header-content.hr {
  margin-top: 0;
  top: 30%;
  transform: translateY(-50%);
}
.header-content .title {
  text-align: center;
  width: 60%;
  margin: auto;
  position: relative;
}
.header-content .title h1 {
  color: white;
  font-weight: bold;
  margin-bottom: 20px;
}
.header-content .title p {
  color: white;
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 2px;
  text-align: center;
}
.header-content .title button {
  background: none;
  border: 2px solid var(--main-color);
  outline: none;
  border-radius: 10px;
  margin: 20px;
  padding: 10px 25px;
  color: #129748;
  font-weight: bold;
  position: relative;
  transition: var(--main-transition);
  overflow: hidden;
}
.header-content .title button.hr {
  border: 2px solid var(--hr-color);
  color: var(--hr-color);
}
.header-content .title button:hover {
  background: var(--main-color)
}
.header-content .title button.hr:hover{
    background: var(--hr-color)
}
.header-content .title button::before {
  position: absolute;
  content: "";
  left: -103%;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: #129748;
  z-index: 0;
  border: 2px solid #129748;
  outline: 2px solid;
  transition: var(--main-transition)
}
.header-content .title button.hr::before {
  background: var(--hr-color);
  border: 2px solid var(--hr-color);
}
.header-content .title button:hover::before {
  left: 0;
}
.header-content .title button a {
  color: #129748;
  position: relative;
  transition: var(--main-transition);
}
.header-content .title button.hr a {
    color: var(--hr-color);
}
.header-content .title button:hover a {
  color: white
}
.header .wave {
  position: absolute;
  bottom: -47%;
  z-index: 0;
  transition: var(--main-transition)
}
.header .wave.hr {
  bottom: 0;
}
.header .groups {
  display: flex;
  position: absolute;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  bottom: 30px;
  transition: var(--main-transition)
}
.header .groups .group {
  flex-basis: 15%;
  min-height: 225px;
  border: 10px solid #ffffff;
  border-radius: 50%;
  background: #ffffff;
  display: flex;
  text-align: center;
  align-items: center;
  position: relative;
  transition: var(--main-transition)
}
.header .groups .g1,
.header .groups .g6 {
  top: -50px;
}
.header .groups .g2,
.header .groups .g5 {
  top: 0;
}
.header .groups .g3,
.header .groups .g4 {
  top: 50px;
}
.header .groups .g1:hover {
  background: rgb(179 189 243);
}
.header .groups .g2:hover {
  background: rgb(240 208 188);
}
.header .groups .g3:hover {
  background: rgb(238 186 189);
}
.header .groups .g4:hover {
  background: rgb(210 216 216);
}
.header .groups .g5:hover {
  background: rgb(178 225 228);
}
.header .groups .g6:hover {
  background: rgb(255 243 178);
}
.header .groups .group img {
  width: 100%;
}
@media (max-width: 991.98px) {
  .header-content {
    margin-top: 50px
  }
  .header-content .title {
    width: 90%;
  }
  .header-content .title h1 {
    font-size: 35px;
  }
  .header-content .title p {
    font-size: 15px;
  }
  .header .wave {
    position: absolute;
    height: 30%;
    bottom: 0;
  }
  .header .groups {
    display: none;
  }
  .header .groups .group {
    padding: 8px;
    border: 5px solid white;
  }
  .header .groups .g1 {
    top: 0;
  }
  .header .groups .g2 {
    top: 10px
  }
  .header .groups .g3 {
    top: 20px
  }
  .header .groups .g4 {
    top: 40px
  }
  .header .groups .g5 {
    top: 50px
  }
  .header .groups .g6 {
    top: 60px
  }
}
/* end header content */
/* branch page */
.branch-header {
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  z-index: 0;
}
.ms {
  background-image: url("../imgs/Mining Services.png");
}
.ad {
  background-image: url("../imgs/AD.png");
}
.fm {
  background-image: url("../imgs/Facility Management.png");
}
.gm {
  background-image: url("../imgs/General Supplies.png");
}
.gc {
  background-image: url("../imgs/General Construction.png");
}
.branch-header::before {
  position: absolute;
  content: "";
  background: rgb(0 0 0 / 85%);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.branch-header .branch-header-container {
  height: 54%;
  display: block;
}
.branch-header .branch-header-container .branch-heading {
  color: var(--main-color);
  font-size: 5rem;
  font-weight: bold;
  text-shadow: 1px 1px 10px black;
  text-align: center;
}
@media (max-width: 991.98px) {
  .branch-header {
    height: 100vh;
  }
  .branch-footer {
    background: black !important;
    position: relative !important;
  }
}
/* end header */
/* start about-us */
.about-us {
  padding: 60px 0;
  min-height: 400px;
  left: -100%;
  position: relative;
  transition: var(--main-transition);
}
.about-us::after {
  position: absolute;
  content: "";
  bottom: -60px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  border-top-color: #ffffff;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-style: solid;
  border-width: 30px;
}
.about-us .about-us-content {
  text-align: center;
}
.about-us .about-us-content p {
  color: var(--alt-color);
  font-weight: bold;
  font-size: 17px;
}
.about-us.hr .about-us-content p {
    color: var(--hr-color);
}
.about-us .about-us-content span {
  color: var(--text-color);
  font-weight: normal;
}
.about-us .about-us-img {
  text-align: center;
}
.about-us .about-us-img img {
  width: 80%
}
@media (max-width: 991.98px) {
  .about-us {
    left: 0
  }
}
/* end about-us */
/* start our vision */
.our-vision-container {
  background: var(--main-background-color);
}
.our-vision {
  padding: 60px 0;
  text-align: center;
  min-height: 400px;
  display: flex;
  align-items: center;
  position: relative;
  right: -100%;
  transition: var(--main-transition)
}
.our-vision .container {
  width: 50%;
}
.our-vision p {
  color: var(--alt-color);
  font-weight: bold;
  font-size: 17px;
}
.our-vision.hr p {
  color: var(--hr-color);
}
.our-vision span {
  color: var(--text-color);
  font-weight: normal;
}
@media (max-width: 991.98px) {
  .our-vision {
    right: 0
  }
}
/* end our vision */
/* start our mission */
.our-mission {
  padding: 60px 0;
  text-align: center;
  background: white;
  min-height: 400px;
  display: flex;
  align-items: center;
  position: relative;
  left: -100%;
  transition: var(--main-transition)
}
.our-mission .container {
  width: 50%;
}
.our-mission p {
  color: var(--text-color);
  font-weight: normal;
}
.our-mission span {
  color: var(--alt-color);
  font-weight: bold;
  font-size: 17px;
}
.our-mission.hr span {
    color: var(--hr-color);
}
@media (max-width: 991.98px) {
  .our-mission {
    left: 0
  }
}
/* end our mission */
/* start our values */
.our-values-container {
  background: white;
}
.our-values {
  padding: 60px 0;
  text-align: center;
  min-height: 400px;
  display: flex;
  align-items: center;
  position: relative;
  right: 0;
  transition: var(--main-transition)
}
.our-values.hr {
  right: -100%;
}
.our-values h2 {
  width: 50%;
  margin: auto;
  margin-bottom: 60px;
}
.our-values .value {
  background: #f9f9f9;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px #e2e2e2;
  transition: var(--main-transition);
  min-height: 100%;
  position: relative;
  transform-origin: 50% 10px;
  animation: values-anime 0.5s 1;
  animation-delay: .50s;
  animation-play-state: paused;
}
.our-values .value::before {
  position: absolute;
  content: "";
  top: 7px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: #f9f9f9;
  box-shadow: inset 0px 0px 4px #dcdcdc;
}
.our-values .value:hover {
  box-shadow: 0 0 10px #dcdcdc
}
.our-values .value i {
  font-size: 35px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  line-height: 100px;
  color: white;
  background: var(--main-color);
}
.our-values.hr .value i {
    background: var(--hr-color);
}
.our-values .value h3 {
  margin: 20px 0;
  font-weight: bold;
  color: var(--title-color);
  font-size: 25px;
}
.our-values .value p {
  color: var(--text-color);
}
@keyframes values-anime {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg);
  }
  75%{
    transform: rotate(-10deg);
  }
}
@media (max-width: 991.98px) {
  .our-values .value {
    max-height: 100%;
    min-height: auto;
    margin-bottom: 25px;
  }
  .our-values.hr {
    right: 0
  }
}
/* end our values */
/* start our services */
.our-services {
  background: white;
  overflow: hidden;
}
.our-services .services-info {
  position: relative;
  background-position: center;
  background-image: url("../imgs/hr-recruiter-jobs-in-egypt-with-salry-el-3752-613b70c5b915e.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: -33%;
  transition: var(--main-transition);
}
.our-services .services-info::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(32 123 255 / 90%);
  z-index: 0
}
.our-services.hr .services-info::before {
    background: rgb(10 88 202 / 90%);
}
.our-services .services-info::after {
  position: absolute;
  content: "";
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: rgb(18 154 89 / 15%);
  border-style: solid;
  border-width: 20px;
  border-left-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-right-color: #ffffff;
}
.our-services .services-info .info-container {
  position: relative;
  text-align: center;
  width: 80%
}
.our-services .services-info .info-container h2 {
  color: white;
}
.our-services .services-info .info-container h2::before {
  left: 5%;
  background: white
}
.our-services .services-info .info-container h2::after {
  right: 5%;
  background: white
}
.our-services .services-info .info-container p {
  font-size: 17px;
  color: white;
}
.our-services .services {
  padding: 60px 25px;
  position: relative;
  top: -2000px;
  transition: var(--main-transition)
}
.our-services .services .service {
  background: white;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 24px;
  min-height: 98%;
  box-shadow: 0 0 5px #e9e9e9;
  position: relative;
}
.our-services .services .service h3 {
  margin: 10px 0;
  color: var(--main-color);
  font-weight: bold;
}
.our-services.hr .services .service h3 {
  color: var(--hr-color);
}
.our-services .services .service span {
  border-radius: 10px;
  background: rgb(18 151 72 / 15%);
  padding: 5px 10px;
  display: inline-block;
  margin: 2px;
  color: black;
}
.our-services.hr .services .service span {
  background: rgb(32 123 255 / 15%);
}
.our-services .services .service button {
  display: block;
  margin-top: 10px;
  background: #259853;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 7px 15px;
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.our-services .services .service p {
  font-size: 13px;
  margin: 15px 0 0;
  letter-spacing: 1px;
  color: var(--text-color);
}
.our-services .services .service button {
  background: var(--hr-color);
}
@media (max-width: 991.98px) {
  .our-services .services-info {
    padding: 60px 30px;
    left: 0
  }
  .our-services .services-info::after {
    bottom: -22px;
    background: none;
    right: auto;
    top: auto;
    border-left-color: transparent;
    border-top-color: transparent;
    border-bottom-color: #f9f9f9;
    border-right-color: transparent;
  }
  .our-services .services {
    padding: 30px 25px 60px;
    text-align: center;
    top: 0
  }
  .our-services .services .service p {
    text-align: start;
  }
}
/* end our services */
/* start contact */
.contact-container {
  background: var(--main-background-color);
}
.contact {
  text-align: center;
  padding: 60px 0;
  position: relative;
  left: 0;
  transition: var(--main-transition);
}
.contact h2 {
  width: 50%;
  margin: 0 auto 40px
}
.contact form .form-group {
  position: relative;
  margin-bottom: 30px
}
.contact form .form-group span {
  position: absolute;
  right: 27%;
  top: 63%;
  transform: translateY(-50%);
  font-size: 35px;
  color: red;
  display: none;
}
.contact form .form-group i {
  position: absolute;
  top: 51%;
  transform: translateY(-50%);
  left: 25%;
  color: white;
  background: var(--main-color);
  padding: 14px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom: 2px solid var(--alt-color);
  min-width: 45px
}
.contact form .form-group input {
  background: white;
  border: none;
  padding: 10px 18px 10px 55px;
  border-radius: 10px;
  width: 50%;
  border-bottom: 2px solid gainsboro;
  caret-color: var(--main-color);
  color: var(--title-color);
  font-weight: bold;
  box-shadow: 8px 9px 10px #efefef;
}
.contact form .form-group input[name="name"],
.contact form .form-group input[name="email"] {
  padding: 10px 50px 10px 55px;
}
.contact form .form-group input:focus,
.contact form .form-group textarea:focus {
  outline: none;
  border: 4px solid var(--main-color) !important;
  border-radius: 10px;
}
.contact form .form-group i.text-area {
  top: 10%;
  border-bottom-left-radius: 0;
}
.contact form .form-group textarea {
  background: white;
  border: none;
  padding: 10px 18px 10px 55px;
  border-radius: 10px;
  width: 50%;
  border-bottom: 2px solid gainsboro;
  resize: none;
  caret-color: var(--main-color);
  color: var(--title-color);
  font-weight: bold;
  box-shadow: 8px 9px 10px #efefef;
  min-width: 45px
}
.contact form .form-group.area span {
  top: 14%;
}
.contact form .form-group .custom-alert {
  position: absolute;
  left: 26%;
  color: red;
  display: none;
}
.contact form input[type="submit"] {
  background: var(--main-color);
  width: 15%;
  margin: auto;
  display: block;
  color: white;
  font-weight: bold;
  border: none;
  box-shadow: 0 0 5px #129748;
  transition: var(--main-transition);
  padding: 10px 0
}
.contact form input[type="submit"]:hover {
  background: var(--alt-color)
}
.contact form .errors h6 {
  color: red;
  font-weight: bold;
  margin: 0 0 30px;
  position: relative;
  width: fit-content;
  text-align: start;
  left: 50%;
  transform: translateX(-50%);
}
.contact form .errors h6::after {
  position: absolute;
  content: "";
}
::placeholder {
  color: var(--text-color);
  font-weight: normal;
}
.contact form .success {
  background: rgb(18 151 72);
  width: 49%;
  margin: auto;
  padding: 10px;
  margin-bottom: 30px;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  border: 3px solid white;
}
@media (max-width: 991.98px) {
  .contact form .form-group i {
    left: auto;
    padding: 16px;
    background: none;
    color: var(--main-color);
    border: none;
  }
  .contact form .form-group input,
  .contact form .form-group textarea {
    width: 90%;
  }
  .contact form .form-group span {
    right: 10%;
  }
  .contact form input[type="submit"] {
    padding: 20px 0;
    border-radius: 10px;
    width: 30%;
  }
}
/* end contact */
/* start footer */
.footer {
  background: black;
  padding: 60px 0 0;
}
.footer .row {
  align-items: center;
}
.footer .breif {
  text-align: center;
}
.footer .breif img {
  width: 35%;
  margin-bottom: 16px;
}
.footer .breif p {
  width: 60%;
  margin: auto;
  color: var(--text-color);
  font-weight: bold;
}
.footer .contacts {

}
.footer .contacts .get-touch {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.footer .contacts .get-touch i {
  font-size: 25px;
  color: #129748;
}
.footer.hr .contacts .get-touch i {
    color: var(--hr-color);
}
.footer .contacts .get-touch p {
  width: 70%;
  color: var(--text-color);
}
.footer .our-groups {
  text-align: center;
}
.footer .our-groups img {
  width: 25%;
  border: 3px solid var(--alt-color);
  margin: 3px;
  min-height: 90px;
  background: #129748;
}
.footer.hr .our-groups img {
  border: 3px solid var(--text-color);
  background: var(--hr-color);
}
.footer .made-by {
  text-align: center;
  border-top: 1px solid var(--text-color);
  padding: 25px 0;
  margin-top: 60px;
  background: black;
}
.footer .made-by p {
  margin: auto;
  color: var(--text-color);
}
.footer .made-by a,
.footer .made-by i {
  color: var(--main-color);
}
.footer.hr .made-by a,
.footer.hr .made-by i {
  color: var(--hr-color);
}
@media (max-width: 991.98px) {
  .footer .breif img {
    margin: 0
  }
    .footer .contacts {
      margin: 20px 0;
  }
  .footer .our-groups img {
    width: 30%;
    max-height: 190px;
    min-height: 100px;
  }
}
/* end footer */
i.up {
  position: fixed;
  bottom: 30px;
  right: -60px;
  background: var(--title-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 60px;
  text-align: center;
  font-size: 30px;
  color: white;
  cursor: pointer;
  transition: var(--main-transition);
}
i.up:hover {
  background: black
}
i.up.show {
  right: 30px;
}
/* branch footer */
.branch-footer {
  background: transparent;
  position: relative;
  left: 0;
  bottom: 0;
  background: black
}
